body{
    background-color: #2E2836;
}
img,.letter-box{
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}
.image-container{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.prompt-container{
    margin-top: 5vh;
    display: grid;
    row-gap: 1vh;
}
.grid-aligner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.space{
    width: 4vw;
    height: 4vw;
}
.adjective-container,.noun-container{
    display: flex;
    align-items: center;
    justify-content: center;
}


.letter-box{
    display: inline-flex;
    background-color: #ffbf69;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 32px;
    border-radius: 5px;
    border-width: 3px;
}
[class*="letter-box"]{
    margin-left: 10px;
    width: 40px;
    height: 40px;
}
@media only screen and (min-width:768px){
    .letter-box{
        margin-left: 10px;
        width: 75px;
        height: 75px;
    }
}
.correct{
    background-color: #8ac926;
}

.hint{
    background-color: #ff595e;
}
.selected{
    border-color: rgb(197, 197, 197);
}